<div class="notes_wrapper">
    <div class="notes_list_button_wrapper">
        <div>
            <button (click)="changeFavFilter('all')" [disabled]="status == 'trash'" class="btn light_btn"
                [ngClass]="{'btn_active': favFilter == 'all'}">
                @if (favFilter == 'all') {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Filters icons">
                        <mask id="mask0_23_5087" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect id="Bounding box" width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_23_5087)">
                            <path id="note_stack"
                                d="M7.00001 20V8.975C7.00001 8.425 7.20001 7.95833 7.60001 7.575C8.00001 7.19167 8.47501 7 9.02501 7H20C20.55 7 21.0208 7.19583 21.4125 7.5875C21.8042 7.97917 22 8.45 22 9V17L17 22H9.00001C8.45001 22 7.97918 21.8042 7.58751 21.4125C7.19585 21.0208 7.00001 20.55 7.00001 20ZM2.02501 6.25C1.92501 5.7 2.03335 5.20417 2.35001 4.7625C2.66668 4.32083 3.10001 4.05 3.65001 3.95L14.5 2.025C15.05 1.925 15.5458 2.03333 15.9875 2.35C16.4292 2.66667 16.7 3.1 16.8 3.65L17.05 5H15L14.825 4L4.00001 5.925L5.00001 11.575V18.55C4.73335 18.4 4.50418 18.2 4.31251 17.95C4.12085 17.7 4.00001 17.4167 3.95001 17.1L2.02501 6.25ZM9.00001 9V20H16V17C16 16.7167 16.0958 16.4792 16.2875 16.2875C16.4792 16.0958 16.7167 16 17 16H20V9H9.00001Z"
                                fill="#B6C4C9" />
                        </g>
                    </g>
                </svg>
                }
                @else {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Filters icons">
                        <mask id="mask0_23_5039" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect id="Bounding box" width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_23_5039)">
                            <path id="note_stack"
                                d="M7.00001 20V8.975C7.00001 8.425 7.20001 7.95833 7.60001 7.575C8.00001 7.19167 8.47501 7 9.02501 7H20C20.55 7 21.0208 7.19583 21.4125 7.5875C21.8042 7.97917 22 8.45 22 9V17L17 22H9.00001C8.45001 22 7.97918 21.8042 7.58751 21.4125C7.19585 21.0208 7.00001 20.55 7.00001 20ZM2.02501 6.25C1.92501 5.7 2.03335 5.20417 2.35001 4.7625C2.66668 4.32083 3.10001 4.05 3.65001 3.95L14.5 2.025C15.05 1.925 15.5458 2.03333 15.9875 2.35C16.4292 2.66667 16.7 3.1 16.8 3.65L17.05 5H15L14.825 4L4.00001 5.925L5.00001 11.575V18.55C4.73335 18.4 4.50418 18.2 4.31251 17.95C4.12085 17.7 4.00001 17.4167 3.95001 17.1L2.02501 6.25ZM9.00001 9V20H16V17C16 16.7167 16.0958 16.4792 16.2875 16.2875C16.4792 16.0958 16.7167 16 17 16H20V9H9.00001Z"
                                fill="#6BC1E1" />
                        </g>
                    </g>
                </svg>
                }

                <p>All</p>
            </button>
            <button (click)="changeFavFilter('fav')" [disabled]="status == 'trash'" class="btn light_btn"
                [ngClass]="{'btn_active': favFilter == 'fav'}">

                @if (favFilter == 'fav') {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g id="bookmark">
                        <mask id="mask0_103_468" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect id="Bounding box" width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_103_468)">
                            <path id="bookmark_2"
                                d="M5 21V5C5 4.45 5.19583 3.97917 5.5875 3.5875C5.97917 3.19583 6.45 3 7 3H17C17.55 3 18.0208 3.19583 18.4125 3.5875C18.8042 3.97917 19 4.45 19 5V21L12 18L5 21ZM7 17.95L12 15.8L17 17.95V5H7V17.95Z"
                                fill="white" />
                        </g>
                    </g>
                </svg>
                }
                @else {
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Property 1=bookmark">
                        <mask id="mask0_71_770" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect id="Bounding box" width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_71_770)">
                            <path id="bookmark"
                                d="M5 21V5C5 4.45 5.19583 3.97917 5.5875 3.5875C5.97917 3.19583 6.45 3 7 3H17C17.55 3 18.0208 3.19583 18.4125 3.5875C18.8042 3.97917 19 4.45 19 5V21L12 18L5 21ZM7 17.95L12 15.8L17 17.95V5H7V17.95Z"
                                fill="#6BC1E1" />
                        </g>
                    </g>
                </svg>
                }



                <p>Favorites</p>
            </button>
        </div>
        <div>
            <!-- Zurück-Pfeil (nur sichtbar im Trash-Modus) -->

            <button 
            *ngIf="status === 'trash'" 
            (click)="status = 'notes'" 
            class="white_btn_round back_arrow_active">
            <!-- Beispiel-SVG für den Zurück-Pfeil -->
            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path d="M15 6L9 12L15 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </button>

            <!-- Trash-Button -->
            <button 
            (click)="changeTrashStatus()" 
            class="btn trash_btn"
            [ngClass]="{'trash_btn_active': status === 'trash'}">

            <!-- Trash-Icon (unterschiedlich je nach Status) -->
            <ng-container *ngIf="status !== 'trash'; else whiteTrashIcon">
            <!-- Blaues Icon -->
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask-blue" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask-blue)">
                <path d="M7 21C6.45 21 5.98 20.8 5.59 20.41C5.2 20.02 5 19.55 5 19V6H4V5H9V4H15V5H20V6H19V19C19 19.55 18.8 20.02 18.41 20.41C18.02 20.8 17.55 21 17 21H7ZM9 17H11V8H9V17ZM13 17H15V8H13V17Z" fill="#6BC1E1"/>
                </g>
            </svg>
            </ng-container>

            <ng-template #whiteTrashIcon>
            <!-- Weißes Icon -->
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask-white" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask-white)">
                <path d="M7 21C6.45 21 5.98 20.8 5.59 20.41C5.2 20.02 5 19.55 5 19V6H4V5H9V4H15V5H20V6H19V19C19 19.55 18.8 20.02 18.41 20.41C18.02 20.8 17.55 21 17 21H7ZM9 17H11V8H9V17ZM13 17H15V8H13V17Z" fill="white"/>
                </g>
            </svg>
            </ng-template>

            <p>Trash</p>
            </button>

        </div>
    </div>
    <div>
        <app-note 
        *ngFor="let note of status === 'trash' ? getTrash() : getList()" 
        [note]="note">
      </app-note>
      
            <!-- <app-note *ngFor="let note of getList()" [note]="note"></app-note> -->
          
    </div>
</div>